.header__top {
    background: #111;
}

.header__top-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 0 7px;
    min-height: 90px;
}

/* -------------------------- */

.header__logo {
    max-width: 183px;
    margin-right: 50px;
    z-index: 11;
}

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--general-bg);
    transition: var(--transition);
}

.body--opened-menu .burger-icon span::before,
.body--opened-menu .burger-icon span::after {
    background-color: var(--accent-color);
}

.burger-icon span {
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: -10px;
}

.burger-icon span::after {
    bottom: -10px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
    bottom: 0px;
    transform: rotate(-45deg);
}

/* ======================================== */

.nav__list {
    display: flex;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    gap: 5vh 30px;
}

.nav__link {
    display: block;
    padding: 8px 0;
}

.nav__link:hover {
    color: var(--accent-color);
    transition: var(--transition);
}

.header__basket {
    margin-left: 60px;
}

.header__basket:hover path {
    stroke: var(--accent-color);
    transition: var(--transition);
}