@import "fonts.css";
@import "reset.css";
@import "global.css";

@import "header.css";
@import "footer.css";

/* -------------------------------------------------- */

.hero {
    background: #ddd;
    position: relative;
}

.hero__inner {
    display: grid;
    grid-template-columns: 45% 55%;
    align-items: flex-start;
    min-height: 850px;
}

.hero__content {
    max-width: 556px;
    margin-bottom: 244px;
}

.hero__title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 46px;
    line-height: 1.03;
    color: var(--general-text);
    margin: 250px 0 40px;
}

.hero__text {
    font-family: var(--font-family);
    font-size: 26px;
    margin-bottom: 90px;
}

.hero__btn {
    font-family: var(--second-family);
    font-size: 24px;
    border-radius: 5px;
    padding: 16px 52px;
    width: 235px;
    height: 64px;
    background: var(--accent-color);
    color: #fff;
}

.hero__img {
    width: 100%;
    object-fit: cover;
    display: block;
    align-self: flex-end;
}

/* -------------------------------------------------- */

@media (max-width: 1200px) {
    .header__logo {
        margin: 10px 0 6px ;
        z-index: 11;
    }

    .header__logo svg {
        width: 142px;
    }

    .header__basket {
        margin-left: auto;
        margin-right: 70px;
    }

    .header__basket svg {
        width: 31px;
    }

    /* ---------------------- */

    .burger-icon {
        display: flex;
        margin-right: 40px;
    }

    .header__top-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px 0 7px;
        min-height: 90px;
    }

    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: #111;
        padding: 100px 15px 30px;
        font-size: 20px;

        transform: translateX(-50%);
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .nav__link {
        font-size: 25px;
    }

    .body--opened-menu .nav {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }

    /* ---------------------- */
}

@media (max-width: 1000px) {}