@import "fonts.css";
@import "reset.css";
@import "global.css";

@import "header.css";
@import "footer.css";

/* -------------------------------------------------- */













/* -------------------------------------------------- */

@media (max-width: 1220px) {
    .header__logo {
        margin-right: 25px;
    }

    .nav__link {
        font-size: 15px;
    }

    .header__basket {
        margin-left: 25px;
    }
}

@media (max-width: 1000px) {
    .burger-icon {
        display: flex;
        margin-right: auto;
    }

    .burger-icon span {}

    .header__top-inner {
        display: flex;
        align-items: center;
        justify-content: center; 
        padding: 6px 0 7px;
        min-height: 90px;
    }

    .nav {
        display: none;
    }

    .header__logo {
        max-width: 183px;
        margin: 0;
    }

    .header__basket {
        margin-left: auto;
    }
}

