@import "fonts.css";
@import "reset.css";
@import "global.css";

@import "header.css";
@import "footer.css";

/* -------------------------------------------------- */

/* -------------------------------------------------- */

@media (max-width: 1220px) {
    .header__logo {
        margin-right: 25px;
    }

    .header__top-inner {}

    .nav__link {
        font-size: 15px;
    }

    .header__basket {
        margin-left: 25px;
    }
}

@media (max-width: 1000px) {
    .burger-icon {
        display: flex;
        margin-right: auto;
    }

    .header__top-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px 0 7px;
        min-height: 90px;
    }

    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: #111;
        padding: 100px 15px 30px;
        font-size: 30px;

        transform: translateX(-50%);
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
    }

    .nav__link {
        font-size: 25px;
    }

    .body--opened-menu .nav {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }

    .header__logo {
        max-width: 183px;
        margin: 0;
    }

    .header__basket {
        margin-left: auto;
    }
}