.article {
  padding-top: 80px;
  padding-bottom: 120px;
}

.article-title {
  max-width: 596px;
  margin-bottom: 40px;
  font-family: Oswald, sans-serif;
  font-weight: 600;
  line-height: 1.15;
  text-transform: uppercase;
  color: #2c332f;
}

.article-text {
  margin-bottom: 20px;
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #535755;
}

.article-text:last-child {
  margin-bottom: 0;
}

.article-title-big {
  font-size: 48px;
}

.article-title-medium {
  font-size: 36px;
}

.article-mb-1 {
  margin-bottom: 80px;
}

.article-mb-2 {
  margin-bottom: 40px;
}

.article-decor-wrapper {
  position: relative;
}

.article-decor-wrapper::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: url("../images/decor-icon.svg") no-repeat;
  width: 528px;
  height: 48px;
}

.article-decor-wrapper-1::before {
  top: 100px;
  left: -350px;
}

.article-decor-wrapper-2::before {
  right: -350px;
  bottom: 136px;
}

.article-img,
.article-video {
  width: 100%;
}

.article-list {
  margin-right: 0;
  padding-left: 16px;
}

.article-item {
  margin-bottom: 12px;
}

.article-item::marker {
  font-size: 22px;
  color: #3596ed;
}

.article-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 0;
  background: #3596ed;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition:      background-color 0.3s;
}

.article-play-button:hover {
  background-color: #39a3ff;
}

.article-play-button:not(:disabled):active {
  background-color: #2e84cf;
}
