html {
  font-family: sans-serif;
}

body * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: #141414;
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #141414;
}

.logo {
  margin: 20px 0;
  width: 50px;
  height: 50px;
  background: #000;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav__link {
  padding: 10px 0;
}

.phone {
  text-decoration: none;
  padding: 10px 0;
}
